.Collection-wrapper{
    background-color: var(--inactive-color);
}
.collection{
    padding: 15px 0px 40px;
}
.Collection-title
{
    font-size: 20px;
    font-weight: 600;
}
.Collection-subtitle-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.Collection-subtitle-text{
    color: var(--text-color);
    display: flex;
}
.collection-location{
    color: var(--zomato-red);
    display: flex;
}
.collection-cover {
    position: relative;
    height: 320px;
    width: 260px;
    margin-right: 20px;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .gradient-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
    top: 0;
    left: 0;
    border-radius: 6px;
    z-index: 1;
  }
  
  .collection-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .collection-card-title{
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: var(--primary-bg);
    font-weight: 300;
  }
  .collection-card-subtitle {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: var(--primary-bg);
    font-weight: 600;
    
  }
  
  .collection-card-subtitle {
    bottom: 8px;
    font-size: 14px;
  }
  .ab{
    margin-top: 4px;
  }
  